<div>
  <app-events-list-standard *ngIf="productService.product.layoutProducts.type === eventService.typeLayout.RACING ||
      productService.product.layoutProducts.type === eventService.typeLayout.COCK_FIGHT ||
      productService.product.layoutProducts.type === eventService.typeLayout.SOCCER ||
      productService.product.layoutProducts.type === eventService.typeLayout.KENO ||
      productService.product.layoutProducts.type === eventService.typeLayout.COLOURS ||
      productService.product.layoutProducts.type === eventService.typeLayout.AMERICANROULETTE"
    [webColumnDefinition]=" productService.product.layoutProducts.nextEventItems"
    [eventsList]="eventService.eventsDetails" rowHeight="{{rowHeight}}"></app-events-list-standard>
</div>
