<app-lucky-bet49 *ngIf="mainService.selectedColourGameId === ColourGameId.bet49"></app-lucky-bet49>
<app-lucky-hilo *ngIf="mainService.selectedColourGameId === ColourGameId.hilo"></app-lucky-hilo>
<app-lucky-total-colour *ngIf="mainService.selectedColourGameId === ColourGameId.totalcolour"></app-lucky-total-colour>
<app-lucky-bet0 *ngIf="mainService.selectedColourGameId === ColourGameId.betzero"></app-lucky-bet0>
<app-lucky-dragon *ngIf="mainService.selectedColourGameId === ColourGameId.dragon"></app-lucky-dragon>
<app-lucky-rainbow *ngIf="mainService.selectedColourGameId === ColourGameId.rainbow"></app-lucky-rainbow>
