<div fxFill fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vw" class="special-box">
  <button (click)="placingLuckyRace(lucky.Lucky1)"
    class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
    {{ 'LUCKY' | translate }} 1
  </button>
  <button (click)="placingLuckyRace(lucky.Lucky2)"
    class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
    {{ 'LUCKY' | translate }} 2
  </button>
  <button (click)="placingLuckyRace(lucky.Lucky3)"
    class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
    {{ 'LUCKY' | translate }} 3
  </button>
</div>
