[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&[class*="-24px"] {
		width: 24px;
		height: 24px;
	}
	&[class*="-48px"] {
		width: 48px;
		height: 48px;
	}
}

.icon-baseline-assessment-24px:before {
	/*content: "\e900";
    color: #9a9dab;*/
	content: url("/assets/icons/baseline-assessment-24px.svg");
}
.icon-baseline-assignment-24px:before {
	/* content: "\e901";
    color: #9a9dab; */
	content: url("/assets/icons/baseline-assignment-24px.svg");
}
.icon-baseline-find_in_page-24px:before {
	/*  content: "\e902";
    color: #9a9dab; */
	content: url("/assets/icons/baseline-find_in_page-24px.svg");
}
.icon-account:before {
	/* content: "\e903";
    color: #9a9dab; */
	content: url("/assets/icons/account.svg");
}
.icon-baseline-access_time:before {
	content: url("/assets/icons/baseline-access_time-24px.svg"); // "\e904";
}
.icon-baseline-lock:before {
	content: url("/assets/icons/baseline-lock-24px.svg"); // "\e904";
}
.icon-baseline-remove_shopping_cart-24px:before {
	content: url("/assets/icons/baseline-delete_outline-24px.svg");
}
.icon-baseline-timer-24px:before {
	content: url("/assets/icons/baseline-timer-24px.svg");
}
.icon-baseline-shopping_cart-24px:before {
	content: url("/assets/icons/baseline-shopping_cart-24px.svg");
}
.alert {
	content: url("/assets/icons/alert.svg");
}
.baseline-check_circle-24px {
	content: url("/assets/icons/baseline-check_circle-24px.svg");
}
.icon-baseline-arrow_back-24px:before {
	content: url("/assets/icons/baseline-arrow_back-24px.svg");
}

.user-icon {
	background: url("/assets/icons/icona-user.png") no-repeat center;
}

.users-icon {
	background: url("/assets/icons/baseline_supervised_user_circle_white_24px.png") no-repeat center;
	background-size: contain;
}

.pwd-icon {
	background: url("/assets/icons/icona-pwd.png") no-repeat center;
}

.warning-icon {
	background: url("/assets/icons/warning.png") no-repeat center;
	background-size: contain;
}
.success-icon {
	background: url("/assets/icons/checked.png") no-repeat center center;
	background-size: contain;
}

.remove-data-or-close-24px {
	background: url("/assets/icons/baseline_close_white_36px.png") no-repeat center center;
	background-size: contain;
}

.icon-red-from-other-color {
	-webkit-filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(2);
	filter: invert(100%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(2);
}
