@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
html {
  font-size: 16px;
}

.typography-size-11{
  font-size: 0.8rem;
}
.typography-weight-700{
  font-weight: 700;
}
