<div fxFill fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="15px" class="special-box-aroulette special-box">
  <button fxFlex="20" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5"
    (click)="onSelected(smart.RS, 725)">
    {{'AMERICANROULETTE.SILVER' | translate | uppercase}}
  </button>
  <button fxFlex="20" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5"
    (click)="onSelected(smart.RG, 725)">
    {{'AMERICANROULETTE.GOLD' | translate | uppercase}}
  </button>
  <button fxFlex="20" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5"
    (click)="onSelected(smart.RA, 725)">
    {{'AMERICANROULETTE.AMERICANA' | translate | uppercase}}
  </button>
  <button fxFlex="20" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5"
    (click)="onSelected(smart.RM, 725)">
    {{'AMERICANROULETTE.SMALL' | translate | uppercase}}
  </button>
</div>
