<mat-grid-list cols="1" rowHeight="{{(rowHeight-1) / 2}}">
  <!-- TITLE -->
  <mat-grid-tile rowspan="1">
    <div class="display" fxFlexFill>
      <div class="card-title" fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="title" fxFlex>
          <span class="text">{{ 'COUPON' | translate | uppercase }}</span>
        </h3>
        <span class="indicator-odds-number radius-50" fxLayoutAlign="center center"
          [style.margin-right.px]="5">{{ couponService.coupon ? couponService.coupon.Odds.length : 0 }}</span>
      </div>
    </div>
  </mat-grid-tile>
  <!-- OODS -->
  <mat-grid-tile rowspan="17">
    <div class="content-row-coupon" fxFill fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="2px">
      <ng-container *ngIf="couponService.coupon">
        <button *ngIf="!couponService.coupon.internal_isLottery && !couponService.coupon.internal_isColours" fxFlex="5"
          class="btn-reset card-odd radius-5 scroll" (click)="previusOdds()" [disabled]="page <= 0">
          <div fxFlex="30"></div>
          <div fxFlex="40">
            <img class="icon" src="assets/icons/Up.svg">
          </div>
          <div fxFlex="30">
            <div *ngIf="(page * maxItems) > 0" class="indicator-scroll counter">
              {{page * maxItems}}
            </div>
          </div>
        </button>
        <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch">
          <ng-container *ngTemplateOutlet="(couponLayout.typeLayout === layoutProduct.KENO
            || couponLayout.typeLayout === layoutProduct.COLOURS) ? numbers
            :  (couponLayout.typeLayout === layoutProduct.AMERICANROULETTE) ? americanRoulette : allcoupon">
          </ng-container>
        </div>
        <button *ngIf="!couponService.coupon.internal_isLottery && !couponService.coupon.internal_isColours" fxFlex="5"
          class="btn-reset card-odd radius-5 scroll" (click)="nextOdds()" [disabled]="page >= maxPage - 1"
          fxLayout="row">
          <div fxFlex="30"></div>
          <div fxFlex="40">
            <img class="icon" src="assets/icons/Down.svg">
          </div>
          <div fxFlex="30">
            <div *ngIf="(couponService.coupon.Odds.length - ((page + 1) * maxItems)) > 0"
              class="indicator-scroll counter">
              {{couponService.coupon.Odds.length - ((page + 1) * maxItems)}}
            </div>
          </div>
        </button>
      </ng-container>
    </div>
  </mat-grid-tile>
  <!--STAKE & WINNING -->
  <mat-grid-tile rowspan="2" class="tile-p-t-5 tile-p-b-5">
    <div class="display-amount radius-5" fxFlexFill>
      <label>
        <span>{{'TOTAL_STAKE' | translate}}</span>
        <input type=" text" name="amount"
          [ngModel]="couponService.stakeDisplay.TotalStake | currency : userService.userCurrency : 'symbol-narrow'"
          readonly />
      </label>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" class="tile-p-t-5 tile-p-b-5">
    <div class="display-amount radius-5" fxFlexFill>
      <label>
        <span>{{'MAX_POTENTIAL_WIN' | translate}}</span>
        <input type="text" name="winner"
          [ngModel]="couponService.stakeDisplay.MaxWinning | currency : userService.userCurrency : 'symbol-narrow'"
          readonly />
      </label>
    </div>
  </mat-grid-tile>
  <!-- BUTTONS -->
  <mat-grid-tile rowspan="2"
    *ngIf="couponService.coupon && !couponService.coupon.internal_isReadyToPlace || !couponService.coupon">
    <div fxFill class="padding-top-10" fxLayoutGap="10px">

      <button fxFlex="20" class="btn-reset btn-display btn-warning radius-5" (click)="clearCoupon()"
        fxLayoutAlign="center center">
        <span class="icon icon-baseline-remove_shopping_cart-24px"></span>
      </button>
      <button fxFlex="20" class="btn-reset btn-display btn-dark-gradient radius-5" (click)="openDialog()">
        <img class="icon" src="assets/icons/baseline-open_in_new-24-white.png">
      </button>
      <button fxFlex="60" class="btn-default btn-success radius-5 padding-10"
        [disabled]="isBetBtnDisabled(playSource.VDeskWeb)"
        (click)="couponService.preStagedCoupon()">{{'COUPON.BET' | translate | uppercase}}</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2"
    *ngIf="!settings.couponDirectPlace && couponService.coupon && couponService.coupon.internal_isReadyToPlace">
    <div fxFill fxLayoutGap="10px">
      <div fxFill fxFlex="50" class="padding-top-10">
        <button class="btn-default btn-warning radius-5 padding-10" [disabled]="couponService.error"
          (click)="couponService.cancelStagingCoupon()">{{'back' | translate | uppercase}}</button>
      </div>
      <div fxFill fxFlex="50" class="padding-top-10">
        <button class="btn-default btn-success radius-5 padding-10" [disabled]="couponService.error"
          (click)="couponService.stagedCoupon()">{{'CONFIRM' | translate | uppercase}}</button>
      </div>
    </div>
  </mat-grid-tile>
  <!-- IMAGES FOR PRINTING DO NOT SHOWING ON DOM -->
  <img class="logo-print-coupon" id="logo-no-print" #logoForPrint />
  <img src="/assets/images/separator-coupon.jpg" class="noshow" />
</mat-grid-list>

<!--TEMPLATE KENO AND COLOURS -->
<ng-template #numbers>
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <ng-container *ngIf="listOdds.length === 1 &&
      (listOdds[0].MarketName === colourGameId[colourGameId.hilo] ||
      listOdds[0].MarketName.substring(0, listOdds[0].MarketName.length - 1) === colourGameId[colourGameId.rainbow]) ||
      listOdds[0].MarketName === colourGameId[colourGameId.totalcolour];
      else elseTemplateNumbers">
      <!-- Single selection mode -->
      <div class="card-odd-container" fxFlex="100">
        <div fxFill class="card-odd radius-5 single-selection" [ngClass]="{'card-odd-error': !couponService.warningMessage &&
            couponService.error && couponService.error.location.length > 0 &&
            couponService.error.location.indexOf(listOdds[0].SelectionId) !== -1}" fxLayout="column"
          fxLayoutAlign="space-between stretch">
          <div fxFlex="100" class="row" fxLayout="row">
            <div fxFlex="75" fxLayoutAlign="start center">
              <ng-container
                *ngIf="listOdds[0].MarketName === colourGameId[colourGameId.hilo]; else elseOtherColoursTemplate">
                <div fxFlex="35" fxLayoutAlign="center center"
                  class="btn-game-selector selected btn-default coupon-selection radius-5">
                  {{listOdds[0].SelectionName | uppercase | translate}}
                </div>
              </ng-container>
              <ng-template #elseOtherColoursTemplate>
                <ng-container
                  *ngIf="listOdds[0].MarketName === colourGameId[colourGameId.totalcolour]; else elseTemplate">
                  <div fxFlex="65" fxLayoutAlign="center center"
                    class="btn-colours btn-default radius-5 btn-colours-{{getTotalColour(listOdds[0].SelectionName)}}">
                    {{ getTotalColourSelectionName(listOdds[0].SelectionName) | uppercase }}
                  </div>
                </ng-container>
                <ng-template #elseTemplate>
                  <div fxFlex="35" fxLayoutAlign="center center"
                    class="btn-keno-number btn-colours btn-default radius-50 btn-colours-{{getRainbowColour(listOdds[0].MarketName)}}">
                    {{listOdds[0].SelectionName | translate}}
                  </div>
                </ng-template>
              </ng-template>
            </div>
            <div fxFlex="25" fxLayoutAlign="center">
              <button class="btn-default btn-warning radius-5 remove" (click)="removeOddByLottery(listOdds[0])">
                <div class="icon"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplateNumbers>
      <!-- Numbers mode -->
      <div *ngFor="let odd of listOdds" class="card-odd-container" fxFlex="50">
        <div fxFill class="card-odd radius-5" [ngClass]="{'card-odd-error': !couponService.warningMessage &&
            couponService.error && couponService.error.location.length > 0 &&
            couponService.error.location.indexOf(odd.SelectionId) !== -1}" fxLayout="column"
          fxLayoutAlign="space-between stretch">
          <div fxFlex="100" class="row" fxLayout="row">
            <div fxFlex="75" fxLayoutAlign="start center">
              <ng-container *ngIf="couponLayout.typeLayout === layoutProduct.COLOURS; else simpleNumberTemplate">
                <!-- Colours template -->
                <div fxFlex="35" fxLayoutAlign="center center"
                  class="btn-keno-number btn-colours btn-default radius-50 btn-colours-{{getNumberColour(odd.SelectionName)}}">
                  {{odd.SelectionName}}
                </div>
              </ng-container>
              <ng-template #simpleNumberTemplate>
                <div fxFlex="35" fxLayoutAlign="center center"
                  class="btn-keno-number btn-default btn-selected radius-50">
                  {{odd.SelectionName}}
                </div>
              </ng-template>
            </div>
            <div fxFlex="25" fxLayoutAlign="center">
              <button class="btn-default btn-warning radius-5 remove" (click)="removeOddByLottery(odd)">
                <div class="icon"></div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>

<!--TEMPLATE GENERIC -->
<ng-template #allcoupon>
  <div *ngFor="let odd of listOdds" class="card-odd-container" fxFlex="20">
    <div fxFill class="card-odd radius-5"
      [ngClass]="{'card-odd-error': !couponService.warningMessage && couponService.error && couponService.error.location.length > 0 && couponService.error.location.indexOf(odd.SelectionId) !== -1}"
      fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxFlex="24" class="top-window radius-5-tl-tr" fxLayoutAlign="space-between center">
        <div>
          <span *ngIf="couponLayout && couponLayout.typeLayout === layoutProduct.SOCCER">
            {{ listOdds[0].DefaultTournamentName }} -
          </span>
          <span
            [ngClass]="{ 'typography-weight-700 typography-size-11' : couponLayout.typeLayout === layoutProduct.SOCCER}">{{odd.EventName}}</span>
        </div>
        <div>#{{odd.MatchId}}</div>
      </div>
      <!-- COUPON MULTISTAKE-->
      <ng-container *ngIf="couponLayout.acceptMultiStake">
        <div fxFlex="38" class="row" fxLayout="row">
          <div fxFlex="78" fxLayoutAlign="start center">
            {{odd.MarketName}} -
            ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})
          </div>
          <div fxFlex="22" class="odd radius-5" fxLayoutAlign="center center">
            {{odd.OddValue | number: '1.2-2'}}
          </div>
        </div>
        <div fxFlex="38" class="row" fxLayout="row" fxLayoutAlign="space-between stretch">
          <button fxFlex="40" class="btn-default stake radius-5" fxLayoutAlign="center center"
            [ngClass]="{'btn-success' : !couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId ,
          'btn-selected ' : couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId }" (click)="checkOddToChangeStake(odd)">
            <span
              *ngIf="!couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId">{{odd.OddStake | number: '1.2-3'}}</span>
            <span
              *ngIf="couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId">{{couponService.oddStakeEdit.tempStake | number: '1.2-3'}}</span>
          </button>
          <div fxFlex="16" fxLayoutAlign="end center">
            <button class="btn-default btn-warning radius-5 remove" (click)="removeOdd(odd)">
              <div class="icon"></div>
            </button>
          </div>
        </div>
      </ng-container>
      <!-- COUPON NO MULTISTAKE-->
      <ng-container *ngIf="!couponLayout.acceptMultiStake">
        <div fxFlex="76" class="row" fxLayout="row">
          <div fxFlex="75" fxLayoutAlign="start center">
            {{odd.MarketName}} -
            ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})
          </div>
          <div fxFlex="25" fxLayoutAlign="center">
            <div fxLayout="column" fxFill fxLayoutGap="10px">
              <div fxFlex="40" class="odd radius-5" fxLayoutAlign="center">
                {{odd.OddValue | number: '1.2-2'}}
              </div>
              <div fxFlex="50" fxLayoutAlign="end center">
                <button class="btn-default btn-warning radius-5 remove" (click)="removeOdd(odd)">
                  <div class="icon"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>


<!-- TEMPLATE AMERICAN ROULETTE -->
<ng-template #americanRoulette>
  <div *ngFor="let odd of listOdds" class="card-odd-container" fxFlex="20">
    <div fxFill class="card-odd radius-5"
      [ngClass]="{'card-odd-error': !couponService.warningMessage && couponService.error && couponService.error.location.length > 0 && couponService.error.location.indexOf(odd.SelectionId) !== -1}"
      fxLayout="column" fxLayoutAlign="space-between stretch">
      <!-- COUPON MULTISTAKE -->
      <ng-container *ngIf="couponLayout.acceptMultiStake">
        <div fxFlex="50" class="row" fxLayout="row">
          <div fxFlex="70" fxLayoutAlign="start center">
            <span>{{odd.MarketName}}</span>
          </div>
          <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="10px">
            <div fxFlex fxLayoutAlign="center center" *ngIf="odd.MarketTypeId === market.StraightUp"
              class="btn-keno-number btn-colours btn-default radius-50 btn-colours-{{getNumber(odd.SelectionName)}}">
              {{odd.SelectionName}}
            </div>
            <div fxFlex fxLayoutAlign="end center" *ngIf="odd.MarketTypeId !== market.StraightUp">
              <span class="market-selection aroulette-values-bold">
                {{odd.SelectionName}}
              </span>
            </div>
          </div>
        </div>
        <div fxFlex="50" class="row" fxLayout="row" fxLayoutAlign="space-between stretch">
          <div fxFlex="70" fxLayoutGap="20px">
            <button fxFlex="40" class="btn-default stake radius-5" fxLayoutAlign="center center"
              [ngClass]="{'btn-success' : !couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId ,
            'btn-selected ' : couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId }" (click)="checkOddToChangeStake(odd)">
              <span
                *ngIf="!couponService.oddStakeEdit || couponService.oddStakeEdit.odd.SelectionId !== odd.SelectionId">{{odd.OddStake | number: '1.2-3'}}</span>
              <span
                *ngIf="couponService.oddStakeEdit && couponService.oddStakeEdit.odd.SelectionId === odd.SelectionId">{{couponService.oddStakeEdit.tempStake | number: '1.2-3'}}</span>
            </button>
            <div fxFlex="55" fxLayoutAlign="start center">
              <span class="aroulette-values-bold"> X {{odd.OddValue | number: '1.2-2'}}</span>
            </div>
          </div>
          <div fxFlex="16" fxLayoutAlign="end center">
            <button class="btn-default btn-warning radius-5 remove" (click)="removeOdd(odd)">
              <div class="icon"></div>
            </button>
          </div>
        </div>
      </ng-container>
      <!-- COUPON NO MULTISTAKE-->
      <ng-container *ngIf="!couponLayout.acceptMultiStake">
        <div fxFlex="76" class="row" fxLayout="row">
          <div fxFlex="75" fxLayoutAlign="start center">
            {{odd.MarketName}} -
            ({{odd.LocalizedCompetitorName ? odd.LocalizedCompetitorName : odd.SelectionName}})
          </div>
          <div fxFlex="25" fxLayoutAlign="center">
            <div fxLayout="column" fxFill fxLayoutGap="10px">
              <div fxFlex="40" class="odd radius-5" fxLayoutAlign="center">
                {{odd.OddValue | number: '1.2-2'}}
              </div>
              <div fxFlex="50" fxLayoutAlign="end center">
                <button class="btn-default btn-warning radius-5 remove" (click)="removeOdd(odd)">
                  <div class="icon"></div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>