<div fxFill fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="1vw" class="special-box lucky-soccer">
    <button (click)="placeLucky(lucky.Lucky1)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L1
    </button>
    <button (click)="placeLucky(lucky.Lucky2)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L2
    </button>
    <button (click)="placeLucky(lucky.Lucky3)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L3
    </button>
    <button (click)="placeLucky(lucky.Lucky4)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L4
    </button>
    <button (click)="placeLucky(lucky.Lucky5)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L5
    </button>
    <button (click)="placeLucky(lucky.Lucky6)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L6
    </button>
    <button (click)="placeLucky(lucky.Lucky7)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L7
    </button>
    <button (click)="placeLucky(lucky.Lucky8)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L8
    </button>
    <button (click)="placeLucky(lucky.Lucky9)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L9
    </button>
    <button (click)="placeLucky(lucky.Lucky10)" class="btn-default btn-lucky btn-grey-gradient radius-5 elevation-z5">
        L10
    </button>
</div>
