<app-lucky-race *ngIf="productService.product.layoutProducts.type === typeLayout.RACING">
</app-lucky-race>
<app-lucky-cock-fight *ngIf="productService.product.layoutProducts.type === typeLayout.COCK_FIGHT">
</app-lucky-cock-fight>
<app-lucky-soccer *ngIf="productService.product.layoutProducts.type === typeLayout.SOCCER"></app-lucky-soccer>
<app-lucky-keno *ngIf="productService.product.layoutProducts.type === typeLayout.KENO"></app-lucky-keno>
<app-lucky-colours *ngIf="productService.product.layoutProducts.type === typeLayout.COLOURS"></app-lucky-colours>
<app-lucky-americanroulette *ngIf="productService?.product?.layoutProducts?.type === typeLayout.AMERICANROULETTE">
</app-lucky-americanroulette>
